.dropdown {
    -webkit-appearance: none;
    appearance: none;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    font-size: 1rem;
    width: 20%;
    height: 20%;
    cursor: pointer;
    display: flex;
    justify-content:flex-end;
}