.inputStyle {
    font-size: 1.1rem;

    input {
        width: 100%;
        height: 42px;
        background-color: #f0f0f0;
        border: solid 1px black;
        border-radius: 8px;

        font-size: 1rem;
        padding-left: 4px;
    }
}