@use '../../style/globals' as globals;

.scrollBar{
    height: 10px;
    background-color: globals.$color_dark_beige;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    transition: 0.1s ease;
}