@use '../../style/globals' as globals;

.footerStyle {
    border-top: solid 2px globals.$color_beige;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 32px;

    h3{
       color: globals.$color_light_brown; 
    }

    section {
        display: flex;
        flex-direction: row;
        gap: 32px
    }

    section:nth-child(2) {
        justify-content: end;
    }

    div{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    p{
        font-weight: 200;
        font-size: 1rem;
    }

    .socials{
     display: block;
     width: 10%;
     height: 20%;
    }
}

